.catalog__heading-wrap {
  padding-top: 15px;
  padding-bottom: 25px;
}

.catalog__heading {
  margin: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: $black-main;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 24px;

  border-top: 1px solid #ededed;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product__title {
  width: 75px;
  margin: 0;
  margin-bottom: 15px;
}

.product__desc {
  width: 140px;
  padding-top: 25px;
}

.product__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;
}

.product__content {
  width: 100%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
}

.product__content-text {
  text-align: right;
}

.product-more {
  position: relative;
  padding: 80px 0 20px;
  text-align: center;
}

.product-more-icon {
  &::before {
    content: "";
    position: absolute;
    top: 41px;
    left: 126px;

    width: 31px;
    height: 3px;

    background-color: #d3d3d3;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 27px;

    width: 3px;
    height: 31px;

    background-color: #d3d3d3;
    opacity: 0.2;
  }
}

.product__title-more {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;
}

.product__text {
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.btn--more {
  color: $grey-brown;
  background-color: $grey-back;

  &:focus,
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog__heading-wrap {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  .catalog__heading {
    font-size: 60px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;

    background-color: $grey-back;
    border: none;

    &:last-child {
      width: 322px;

      background-color: transparent;
      border-bottom: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
  }

  .product {
    flex-direction: column;
    align-items: center;
  }

  .product__desc {
    width: 250px;
    padding-top: 0;
  }

  .product__title {
    width: auto;
    max-width: 130px;
    margin: 30px auto 20px;

    text-align: center;
  }

  .product__link {
    font-size: 20px;
  }

  .product__content {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .product__content tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__content td {
    padding: 7px 0;
  }

  .product-more {
    padding: 170px 0 40px;
  }

  .product-more-icon {
    &::before {
      top: 85px;
      left: 131px;

      width: 61px;
      height: 2px;

      background-color: #e6e6e6;
      opacity: 0.5;
    }

    &::after {
      top: 55px;

      width: 2px;
      height: 61px;

      background-color: #e6e6e6;
      opacity: 0.5;
    }
  }

  .product__title-more {
    width: 100%;
    max-width: 135px;
    margin: 0 auto 25px;

    font-size: 20px;
  }

  .product__text {
    width: 100%;
    max-width: 170px;
    margin: 0 auto 85px;

    font-size: 16px;
  }

  .btn--catalog {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__heading-wrap {
    padding-top: 77px;
    padding-bottom: 70px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 140px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n+5) {
      margin-bottom: 0;
    }

    &:last-child {
      width: 245px;

      background-color: transparent;
      border-bottom: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
  }

  .product__desc {
    width: 169px;
  }

  .btn--catalog {
    width: 169px;
  }

  .product-more-icon::before {
    left: 93px;
  }

  .btn--more {
    width: 169px;
  }
}
