.catalog__heading-wrap {
  padding: 15px 20px 27px;
}

.catalog__heading {
  margin: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: $black-main;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 23px;

  border-top: 1px solid #ededed;

  &--more {
    border-bottom: 1px solid #ededed;
  }
}

.catalog__item-product {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.catalog__item-product-pic {
  display: block;
  width: 140px;
  height: 144px;
  margin-top: 1px;
}

.catalog__item-product-desc {
  width: 140px;
  padding-top: 22px;
}

.catalog__item-product-title {
  width: 75px;
  margin: 0;
  margin-bottom: 11px;
}

.catalog__item-product-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;
}

.catalog__item-product-content {
  width: 100%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
}

.catalog__item-product-content-text {
  text-align: right;
}

.catalog__item-product-more {
  position: relative;
  padding: 80px 0 23px;
  text-align: center;
}

.catalog__item-product-more-icon {
  &::before {
    content: "";
    position: absolute;
    top: 41px;
    left: 145px;

    width: 31px;
    height: 3px;

    background-color: #d3d3d3;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 27px;

    width: 3px;
    height: 31px;

    background-color: #d3d3d3;
    opacity: 0.2;
  }
}

.catalog__item-product-more-title {
  margin: 0;
  margin-bottom: -3px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;
}

.catalog__item-product-more-text {
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__item-product-more-link {
  color: $grey-brown;
  background-color: $grey-back;

  &:focus,
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (max-width: $mobile-width-only) {
  .catalog {
    width: 320px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__heading-wrap {
    padding: 60px 0 53px;
  }

  .catalog__heading {
    font-size: 60px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    position: relative;

    width: 324px;
    margin-top: 109px;
    margin-bottom: 30px;
    padding: 136px 0 40px;

    background-color: $grey-back;
    border: none;
  }

  .catalog__item--more {
    width: 322px;
    padding: 0;

    background-color: transparent;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  .catalog__item-product {
    flex-direction: column;
    align-items: center;
  }

  .catalog__item-product-img {
    position: absolute;
    top: 0;
    right: 0;

    margin-top: -46px;

    &--big {
      margin-top: -80px;
    }
  }

  .catalog__item-product-pic {
    width: 324px;
    height: auto;
  }

  .catalog__item-product-desc {
    width: 250px;
    padding-top: 0;
  }

  .catalog__item-product-title {
    width: auto;
    max-width: 130px;
    margin: 28px auto 20px;

    text-align: center;
  }

  .catalog__item-product-link {
    font-size: 20px;
  }

  .catalog__item-product-content {
    margin-bottom: 34px;
    font-size: 16px;
  }

  .catalog__item-product-content tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__item-product-content td {
    padding: 7px 0;
  }

  .catalog__item-product-more {
    padding: 163px 37px 40px;
  }

  .catalog__item-product-more-icon {
    &::before {
      top: 85px;
      left: 131px;

      width: 61px;
      height: 2px;

      background-color: #e6e6e6;
      opacity: 0.5;
    }

    &::after {
      top: 55px;

      width: 2px;
      height: 61px;

      background-color: #e6e6e6;
      opacity: 0.5;
    }
  }

  .catalog__item-product-more-title {
    width: 100%;
    max-width: 135px;
    margin: 0 auto 28px;

    font-size: 20px;
  }

  .catalog__item-product-more-text {
    width: 100%;
    max-width: 170px;
    margin: 0 auto 88px;

    font-size: 16px;
  }

  .catalog__item-link {
    width: 250px;
  }

  .catalog__item-product-more-link {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__heading-wrap {
    padding: 76px 0 53px;
  }

  .catalog__item {
    width: 245px;
    margin-top: 111px;
    margin-right: 80px;
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n+5) {
      margin-bottom: 0;
    }

    &--more {
      width: 243px;
    }
  }

  .catalog__item-product-more {
    padding: 162px 37px 40px;
  }

  .catalog__item-product-more-title {
    margin: 0 auto 30px;
  }

  .catalog__item-product-more-text {
    margin: 0 auto 87px;
  }

  .catalog__item-product-pic {
    width: 245px;
  }

  .catalog__item-product-desc {
    width: 169px;
  }

  .catalog__item-product-title {
    margin: 27px auto 19px;
  }

  .catalog__item-link {
    width: 169px;
  }

  .catalog__item-product-more-icon::before {
    left: 93px;
  }

  .catalog__item-product-more-link {
    width: 169px;
  }
}
