.contacts--backdrop {
  background-color: $grey-back;
}

.invite {
  display: flex;
  padding-top: 30px;
  padding-bottom: 24px;
}

.invite__title {
  margin: 0;
  min-width: 145px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;
}


.invite__text {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.map {
  position: relative;

  width: 100%;
  height: 362px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.map::before {
  position: absolute;
  content: "";

  top: 38%;
  left: 42%;

  width: 55px;
  height: 53px;

  background-image: url("../img/map-pin-png-50.png");
}

@media (min-width: $tablet-width) {
  .invite {
    justify-content: space-between;

    padding: 67px 41px 59px 41px;
  }

  .invite__title {
    max-width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .invite__desc {
    max-width: 155px;

    text-align: right;
  }

  .invite__text {
    font-size: 16px;

    &:last-child {
      padding-top: 15px;
    }
  }

  .map {
    height: 400px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .map::before {
    position: absolute;
    content: "";

    top: 38%;
    left: 42%;

    width: 113px;
    height: 106px;

    background-image: url("../img/map-pin.png");
  }
}

@media (min-width: $desktop-width) {
  .invite {
    position: absolute;

    width: 404px;
    margin-top: 95px;
    padding: 67px 90px 59px 76px;

    background-color: $white;
    z-index: 1;
  }

  .invite__desc {
    text-align: left;
  }

  .map {
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .map::before {
    left: 74%;
  }
}
