.contacts--backdrop {
  background-color: $grey-back;
}

.contacts__invite {
  display: flex;
  padding-top: 30px;
  padding-bottom: 24px;
}

.contacts__invite-title {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;
}

.contacts__invite-text {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 362px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: 1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.contacts__map::before {
  position: absolute;
  content: "";

  top: 39%;
  left: 42%;

  width: 55px;
  height: 53px;
  z-index: -1;

  background-image: url("../img/map-pin-png-50.png");
}

.contacts__map iframe {
  width: 100%;
  height: 100%;

  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts__invite {
    justify-content: space-between;

    padding: 64px 41px 58px;
  }

  .contacts__invite-title {
    max-width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__invite-desc {
    max-width: 155px;

    text-align: right;
  }

  .contacts__invite-text {
    font-size: 16px;

    &:last-child {
      padding-top: 19px;
    }
  }

  .contacts__map {
    height: 400px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .contacts__map::before {
    position: absolute;
    content: "";

    top: 37%;
    left: 42%;

    width: 113px;
    height: 106px;

    background-image: url("../img/map-pin.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts__invite {
    position: absolute;

    width: 404px;
    margin-top: 90px;
    padding: 66px 90px 56px 76px;

    background-color: $white;
    z-index: 3;
  }

  .contacts__invite-desc {
    text-align: left;
  }

  .contacts__map {
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .contacts__map::before {
    top: 38%;
    left: 71%;
  }
}
