.example {
  background-color: $grey-back;
}

.example--wrap {
  padding-bottom: 35px;
}

.example__title-wrap {
  margin-bottom: 25px;
  padding-top: 15px;
}

.example__title {
  margin: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: $black-main;
}

.example__text {
  width: 266px;
  margin-bottom: 25px;

  font-family: "Arial", sans-serif;
}

.example__result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  list-style: none;
}

.example__result-item {
  width: calc(50% - 18px);

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__result-number {
  display: block;
  padding: 10px 10px 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;

  background-color: $grey-back;
}

.example__result-text {
  display: inline-block;
  vertical-align: top;

  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;


  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;

  background-color: $grey-back;

  transform: translateY(10px);
}

.example__result-cost {
  margin: 0;
  margin-bottom: 34px;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: $black-main;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;

    border-top: 1px solid #d9d9d9;
  }

  .example--wrap {
    padding-bottom: 67px;
  }

  .example__title-wrap {
    margin-bottom: 62px;
    padding-top: 45px;
  }

  .example__title {
    font-size: 60px;
  }

  .example__text {
    width: 676px;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__content {
    margin-bottom: 56px;
  }

  .example__result-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .example__result {
    width: 366px;
  }

  .example__result-item {
    width: calc(50% - 23px);
    height: 70px;
  }

  .example__result-number {
    padding: 15px 10px 0;

    font-size: 30px;
    line-height: 37px;

    background-color: $white;
  }

  .example__result-text {
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 8px;
    padding-right: 8px;


    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;

    background-color: $white;

    transform: translateY(10px);

    &--small {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .example__result-cost {
    margin-bottom: 27px;

    font-size: 20px;
    text-align: right;
  }

  .example__result-cost span:last-child {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $grey-back;
    border-top: none;
  }

  .example--wrap {
    padding-bottom: 5px;
  }

  .example__title-wrap {
    position: relative;
    margin-bottom: 0;
    padding-top: 81px;
    padding-bottom: 74px;

    background-color: $white;

    &::before,
    &::after {
      position: absolute;
      content: "";

      top: 0;

      width: 100%;
      height: 100%;

      background-color: $white;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  .example__content-wrap {
    display: flex;
  }

  .example__content-inner {
    margin-right: 137px;
  }

  .example__content {
    margin-bottom: 70px;
  }

  .example__text {
    width: 435px;
    margin: 0;
    margin-bottom: 68px;
    padding-top: 72px;
  }

  .example__result-inner {
    flex-direction: column;
    align-items: baseline;
  }

  .example__result {
    margin-bottom: 60px;
  }

  .example__result-number,
  .example__result-text {
    background-color: $grey-back;
  }

  .example__result-cost {
    margin-bottom: 0;
  }

  .example__result-cost span:last-child {
    display: inline;
    padding-left: 60px;
  }
}
