.example {
  background-color: $grey-back;
}

.example__title-wrap {
  margin-bottom: 25px;
  padding-top: 15px;
}

.example__title {
  margin: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  width: 266px;
  margin-bottom: 25px;

  font-family: "Arial", sans-serif;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.result__item {
  width: calc(50% - 18px);

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.result__number {
  display: block;
  padding: 10px 10px 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-main;

  background-color: $grey-back;
}

.result__text {
  display: inline-block;
  vertical-align: top;

  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;


  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;

  background-color: $grey-back;

  transform: translateY(10px);
}

.example__cost {
  margin: 0;
  margin-bottom: 35px;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;

    border-top: 1px solid #d9d9d9;
  }

  .example__title-wrap {
    margin-bottom: 65px;
    padding-top: 45px;
  }

  .example__title {
    font-size: 60px;
  }

  .example__text {
    width: 676px;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
  }

  .example__title-wrap {
    margin-bottom: 65px;
    padding-top: 0;
  }
}
