.extras__heading-wrap {
  padding: 30px 0;
}

.extras__heading {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: $black-main;
}

.goods {
  margin-bottom: 38px;
}

.goods-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-item {
  padding-top: 14px;
  padding-bottom: 16px;

  border-bottom: 1px solid #d9d9d9;

  &:first-child {
    border-top: 1px solid #d9d9d9;
  }
}

.goods-title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  color: $black-lightly;
}

.goods__text {
  width: 100%;
  margin-bottom: 14px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  border-collapse: collapse;
}

.goods__text-price {
  text-align: right;
}

.gift {
  margin-bottom: 35px;
}

.gift__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 63px 50px 40px;

  text-align: center;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $green;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.gift__wrap::before {
  position: static;
  content: "";

  width: 56px;
  height: 61px;

  background-image: url("../img/gift-svg.png");
  background-repeat: no-repeat;
}

.gift__text {
  max-width: 165px;
  margin: 0;
  margin-top: 65px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: $white;
}

@media (min-width: $tablet-width) {
  .extras__heading-wrap {
    padding: 45px 0;
  }

  .extras__heading {
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .goods {
    margin-bottom: 69px;
  }

  .goods-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 27px 36px 25px;

    border: 1px solid #d9d9d9;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  .goods-title {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  .goods__text {
    width: 230px;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 20px;
  }

  .btn--goods {
    width: 633px;
  }

  .gift {
    margin-bottom: 76px;
  }

  .gift__wrap {
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 67px 125px 72px 91px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__text {
    max-width: 161px;
    margin-left: auto;
    margin-top: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extras__heading-wrap {
    padding: 75px 0;
  }

  .extras__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .goods {
    width: 895px;
  }

  .goods-list {
    width: 100%;
    margin-right: 80px;
  }

  .goods-item {
    align-items: center;
    padding: 15.5px 0;

    border-left: none;
    border-right: none;
  }

  .goods-title {
    width: 245px;
    margin-bottom: 0;
  }

  .goods__text {
    width: 285px;
    margin-bottom: 0;
  }

  .btn--goods {
    width: 245px;
  }

  .gift__wrap {
    flex-direction: column;

    padding: 65px 42px 42px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gift__text {
    padding-top: 61px;

    text-align: center;
  }
}
