.page-footer {
  background-color: $grey-back;
}

.page-footer__logo {
  display: block;
  width: 128px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 30px;
}

.page-footer__logo:focus,
.page-footer__logo[href]:hover {
  opacity: 0.8;
}

.page-footer__logo[href]:active {
  opacity: 0.6;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0;

  list-style: none;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item:nth-child(2) {
  padding-left: 35px;
  padding-right: 40px;
}

.social__link .social__icon {
  fill: #666666;
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: $green;
}

.social__link:active .social__icon {
  opacity: 0.3;
}


.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  color: $grey-brown;
}

.copyright__link .copyright__logo {
  fill: #666666;
}

.copyright__link:focus .copyright__logo,
.copyright__link:hover .copyright__logo {
  fill: $green;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  .page-footer__logo {
    padding: 0;
  }

  .social__list {
    align-items: center;

    border: none;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social__icon--insta {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }

  .copyright__link {
    padding: 0;
  }
}
