.page-main__content {
  margin-bottom: 20px;
  padding-top: 29px;

  text-align: center;

  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;
}

.page-main__content-wrap {
  margin-bottom: 20px;
}

.page-main__content-title {
  margin: 0;
  padding-bottom: 19px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  color: $white;
}

.page-main__content-desc {
  margin: 0;
  padding-bottom: 29px;

  line-height: 14px;
  text-transform: uppercase;

  color: $white;
}

.page-main__img {
  padding-bottom: 3px;
}

.btn--small {
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .page-main__content {
    position: relative;

    min-height: 860px;
    margin-bottom: 0;

    text-align: left;

    background: 0 0;
  }

  .page-main__content-wrap {
    max-width: 500px;
    padding-top: 60px;
    padding-left: 90px;
  }

  .page-main__content-title {
    padding-bottom: 35px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 400;

    color: $black-main;
  }

  .page-main__content-desc {
    padding-bottom: 0;

    font-size: 20px;
    line-height: 20px;

    color: $black-main;
  }

  .page-main__img {
    position: absolute;

    padding-bottom: 0;

    z-index: -1;
  }

  .page-main__content-link {
    margin-top: 48px;
    padding-left: 90px;
  }

  .btn--small {
    width: 245px;
    padding: 16px 0;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__img {
    top: 30px;
    left: 38%;

    z-index: 0;
  }

  .page-main__content {
    min-height: 480px;
    margin-bottom: 80px;
    padding-top: 110px;
    padding-left: 75px;
  }

  .page-main__content-wrap {
    max-width: 500px;
    margin-bottom: 0;
    padding: 0;
  }

  .page-main__content-link {
    margin-top: 53px;
    padding-left: 0;
  }

  .btn--small {
    width: 245px;
    padding: 16px 0;
  }
}
