.page-footer {
  background-color: $grey-back;
}

.page-footer__logo-link {
  display: block;
  width: 128px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 29px;
}

.page-footer__logo-link:focus,
.page-footer__logo-link[href]:hover {
  opacity: 0.8;
}

.page-footer__logo-link[href] .page-footer__logo:active {
  opacity: 0.6;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 23px 0 18px;

  list-style: none;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-item:nth-child(2) {
  padding-left: 35px;
  padding-right: 40px;
}

.page-footer__social-link .page-footer__social-icon {
  fill: #666666;
}

.page-footer__social-link:focus .page-footer__social-icon,
.page-footer__social-link:hover .page-footer__social-icon {
  fill: $green;
}

.page-footer__social-link .page-footer__social-icon:active {
  opacity: 0.3;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  color: $grey-brown;
}

.page-footer__copyright-logo {
  fill: #666666;
}

.page-footer__copyright-link:focus .page-footer__copyright-logo,
.page-footer__copyright-link:hover .page-footer__copyright-logo {
  fill: $green;
}

.page-footer__copyright-link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 40px;
  }

  .page-footer__logo-wrap {
    width: 150px;
  }

  .page-footer__logo-link {
    display: inline-block;

    padding: 0;
  }

  .page-footer__social-list {
    width: 126px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    border: none;
  }

  .page-footer__social-item:nth-child(2) {
    padding: 0;
  }

  .page-footer__social-icon--vk {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-icon--insta {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-icon--fb {
    width: 14px;
    height: 28px;
  }

  .page-footer__copyright {
    width: 164px;
  }

  .page-footer__copyright-link {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner {
    padding: 34px 0 38px;
  }

  .page-footer__social-list {
    padding: 23px 0;
  }
}
