.slider {
  padding-bottom: 35px;
}

.slider__images {
  margin-bottom: 32px;
}

.slider__switches {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__switch {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: $black-main;
  cursor: pointer;
}

.slider__range {
  position: relative;

  width: 82px;
  height: 12px;
  margin-left: 18px;
  margin-right: 18px;

  background-color: $white;

  border: 1px solid $grey-border;
  border-radius: 6px;
}

.slider__crossbar {
  position: absolute;
  top: 3px;
  left: 4px;

  width: 35px;
  height: 6px;

  background-color: $green;

  border-radius: 3px;
}

.slider__toggle-after:checked ~ .slider__switches .slider__crossbar {
  left: calc(100% - 39px);
}

@media (max-width: $mobile-width-only) {
  .slider__images--after {
    display: none;
  }

  .slider__toggle-before:checked ~ .slider__images .slider__images--before,
  .slider__toggle-after:checked ~ .slider__images .slider__images--after {
    display: block;
  }

  .slider__toggle-before:checked ~ .slider__images .slider__images--after,
  .slider__toggle-after:checked ~ .slider__images .slider__images--before {
    display: none;
  }

  .slider__pic {
    height: 237px;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;

    padding-bottom: 67px;
  }

  .slider::after {
    position: absolute;
    content: "";

    top: 0;

    width: 192vw;
    height: 462px;

    background-color: #eaeaea;
    transform: translate(-50%, 170px);
  }

  .slider__images {
    position: relative;

    margin-bottom: 9px;
  }

  .slider__image {
    position: relative;
    display: block;

    z-index: 1;
  }

  .slider__images--before {
    position: absolute;

    top: 0;
    width: 48%;
    padding-left: 14px;

    background-image: linear-gradient(to bottom, #ffffff, #ffffff 170px, #eaeaea 170px, #eaeaea);

    overflow: hidden;
    z-index: 2;
  }

  .slider__images--after {
    padding-left: 15px;
  }

  .slider__pic {
    width: 690px;
    max-width: 690px;
    height: 517px;
  }

  .slider__toggle-before:checked ~ .slider__images .slider__images--before,
  .slider__toggle-after:checked ~ .slider__images .slider__images--after {
    width: 100%;
    z-index: 1;
  }

  .slider__toggle-before:checked ~ .slider__images .slider__images--after,
  .slider__toggle-after:checked ~ .slider__images .slider__images--before {
    z-index: -1;
  }

  .slider__switch {
    padding: 7px 0 6px;

    font-size: 20px;

    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
    z-index: 1;

    &:hover {
      border-bottom-style: solid;
      border-color: rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-color: transparent;
    }
  }

  .slider__range {
    width: 428px;
    height: 0;
    margin: 0 21px 0 23px;
    padding: 14px 0;

    background-color: transparent;
    border: none;
    z-index: 1;
  }

  .slider__scale {
    height: 6px;

    background-color: #dcdcdc;
    border-radius: 2.5px;
  }

  .slider__crossbar {
    display: none;
  }

  .slider__range-toggle {
    position: absolute;
    width: 34px;
    height: 34px;

    top: 0;
    left: 46%;

    background-color: #ffffff;

    border: solid 1px #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active,
    &:focus {
      border: 2px solid $green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .slider__range-toggle::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    width: 8px;
    height: 8px;

    background-color: $green;

    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .slider__toggle-before:checked ~ .slider__switches .slider__range-toggle {
    left: 0;
  }

  .slider__toggle-after:checked ~ .slider__switches .slider__range-toggle {
    left: 92%;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-top: -189px;

    &::after {
      display: none;
    }
  }

  .slider__images {
    margin-bottom: 30px;
  }

  .slider__images--before {
    width: 52.5%;
    padding-left: 0;

    background-image: linear-gradient(to bottom, #ffffff, #ffffff 189px, #eaeaea 170px, #eaeaea);
  }

  .slider__images--after {
    padding-left: 0;
  }

  .slider__switches {
    margin-left: 36px;
    align-items: stretch;
  }
}
